
body {
    font-family: 'Roboto', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("./assets/hogwarts-2036645_1280.webp");
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(238, 212, 180);
    display: flex;
    justify-content: space-around;
}

section {
    border-image: linear-gradient(#23adba, #d32559) 30;
    border-width: 12px;
    border-style: solid;
}


.game-board {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    height: 500px;
    width: 70%;
    padding: 10px;
    background-color: lemonchiffon;
    border: solid 30px rgba(207, 149, 43, 0.848);
    justify-content: center;
    align-items: center;
    opacity: 95%;
    border-radius: 100px;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 20px 17px rgba(207, 149, 43, 0.848)
}

.game-board-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    height: 740px;
}

.box {
    border: solid 13px rgb(67 44 0 / 85%);
    font-size: 50px;
    padding: 48px;
    text-align: center;
    align-content: center;
    color: red;
    box-shadow: inset 1px 1px 20px 14px rgba(228, 166, 36, 0.848);
    border-radius: 15px;
}

.player-info {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(238, 212, 180);
}

h1,
h2,
h3 {
    padding: 36px;
    font-size: 35px;
    background-color: #ffe559;
    opacity: 85%;
    border-radius: 80%;
    box-shadow: 0px 0px 20px 17px rgba(207, 149, 43, 0.848);
    border-color: rgb(67 44 0 / 85%);
    font-family: cursive;
}

img {
    width: 50px
}

.right-player {
    background: linear-gradient(#e66465, #23adba);
}

.left-player {
    background: linear-gradient(#e66465, #23adba);
}

.count-display,
.wins {
    height: 74%;
    opacity: 60%;
    width: 85%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 17px rgba(207, 149, 43, 0.848);
    border-color: rgb(67 44 0 / 85%);
}

.wins {
    height: 10%;
    font-family: cursive;
    font-size: 40px;
}

.left-count-display,
.right-count-display {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: cursive;
    background: rgb(238, 212, 180);
}

.right-count-display {
    box-shadow: inset 0px 0px 20px 20px #d32559;
}

.left-count-display {
    box-shadow: inset 0px 0px 20px 20px #23adba;
}

.one {
    border-left: none;
    border-top: none;
}

.two {
    border-top: none;
}

.three {
    border-top: none;
    border-right: none;
}

.four {
    border-left: none;
}

.six {
    border-right: none;
}

.seven {
    border-left: none;
    border-bottom: none;
}

.eight {
    border-bottom: none;
}

.nine {
    border-bottom: none;
    border-right: none;
} 
